body{
  margin:0;
  padding:0;
  font: 16px 'segoe UI', sans-serif;
  color: #655643;
  background: #F6F7BD;
}

h1{
  margin: -2vw 0 0;
  font-size: 8.3vw;
  font-weight: 400;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: #E6AC27;
}

article{
  margin-top: 1em;
  margin-left: 1em;
  padding: 4em 2em;
  display: inline-block;
  text-align: center;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 2px 5px 15px #655643;
}
  article .status{
    width: 70px;
    height: 70px;
    margin-bottom: 2em;
    display: inline-block;
    border-radius: 50%;
    background: #BF4D28;
    transition: transform .3s, background .1s linear .1s;
  }
  article .status.online{
    background: #80BCA3;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  article h2{
    margin-bottom: 0;
  }
  article p:first-of-type{
    margin-top:.25em;
  }

a,a:visited{
  color: #540045;
  text-decoration: none;
}

/*
black: #655643
green: #80BCA3
cream: #F6F7BD
orange: #E6AC27
red: #BF4D28
*/
